main.content {
  background: $bg-color;
  min-width: calc(100% - $sidepanel-width);
  margin-left: $sidepanel-width;
  margin-top: $navbar-height;
  background: $bg-color;
  padding: 10px;
  height: calc(100vh - #{$navbar-height});
}