main.content {
  background: $bg-color;
  max-width: calc(100% - #{$sidepanel-width});
  margin-left: $sidepanel-width;
  margin-top: $navbar-height;
  background: $bg-color;
  padding: 10px;
  min-height: calc(100vh - #{$navbar-height});
  max-height: 100%;
}