main.content {
  background: $bg-color;
  max-width: calc(100% - #{$sidebar-width});
  margin-left: $sidebar-width;
  margin-top: $navbar-height;
  background: $bg-color;
  padding: 10px;
  max-height: 100%;

  .main-div {
    min-height: calc(100vh - #{$navbar-height});
  }
}