div.sidebar { 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  min-width: $sidebar-width;
  height: 100%;
  background: $dark;
  box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.62);

  li {
    min-height: $navbar-height;
    line-height: $navbar-height;
    text-align: center;
    vertical-align: middle;
    transition: 0.2s;
    fill: white;
    color: white;
  }

  li:hover {
    background: black;
    svg {
      fill: theme-color('primary');
      color: theme-color('primary');
    }
  }
}