div.sidepanel { 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  min-width: $sidepanel-width;
  height: 100%;
  background: $dark;

  li {
    min-height: $navbar-height;
    line-height: $navbar-height;
    text-align: center;
    vertical-align: middle;
    transition: 0.2s;
    fill: white;
    color: white;
  }

  li:hover {
    background: black;
    svg {
      fill: theme-color('primary');
      color: theme-color('primary');
    }
  }
}