div.sidepanel { 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  min-width: $sidepanel-width;
  height: 100%;
  background: $dark;
  color: white;

  li {
    min-height: $navbar-height;
    line-height: $navbar-height;
    text-align: center;
    vertical-align: middle;
  }
}